* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Rokkitt', serif;
  font-weight: 600;
  color: #010d27;
  font-size: 10px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #010d27;
}

img {
  max-width: 85%;
  padding: 1em 2em;
}

#wrapper {
  margin: auto;
  max-width: 148em;
}

nav {
  padding: .5em 0em;
  background-color: rgba(86, 136, 192, 0.8);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  position: fixed;
  display: block;
  z-index: 1;
  width: 100%;
}

nav .toggle {
  display: none;
}

nav #nav__menu-button {
  display: flexbox;
  text-align: right;
  font-size: 2.3em;
}

nav #nav__menu-button i {
  padding-right: .5em;
}

nav:hover {
  background-color: #669fe0;
}

nav div {
  line-height: 150%;
}

nav h2 {
  padding-left: 1.5em;
}

nav ul {
  list-style-type: none;
  text-align: right;
  padding-top: .8em;
  padding-left: 5em;
}

nav ul li {
  display: block;
  font-size: 1.7em;
  text-transform: uppercase;
  padding: .5em;
}

nav ul li:hover {
  background-color: rgba(5, 58, 119, 0.4);
  border-radius: 0.5em;
}

nav ul li a {
  padding: 0em .25em;
  border-left: .05em solid gray;
  letter-spacing: .15em;
}

#content {
  padding-top: 4em;
  width: 100%;
}

#content div {
  position: relative;
}

#content div h2 {
  position: absolute;
  top: 75%;
  right: 5%;
  font-size: 2.5em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  background-color: rgba(245, 245, 245, 0.75);
  padding: .1em .15em;
  border-radius: 0.5em;
}

#content div p {
  padding: 1em 2em 1em 1em;
  text-align: justify;
}

#content .--align-left {
  background-color: rgba(237, 237, 237, 0.25);
}

#content .--align-right {
  background-color: rgba(247, 247, 247, 0.25);
}

#content .--align-right,
#content .--align-left {
  margin-bottom: .5em;
  border-radius: 0.5em;
}

#content p {
  font-size: 1.5em;
}

footer {
  width: 100%;
  margin-top: .5em;
}

footer hr {
  width: 95%;
  margin: auto;
  border-radius: 90%;
  border-top: 0.1em solid #010d27;
}

footer iframe {
  width: 100%;
  height: 45em;
  border: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

[class^='col-'] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 5px 0px;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333333%;
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66666667%;
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66666667%;
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333333%;
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66666667%;
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333333%;
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66666667%;
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media only screen and (min-width: 980px) {
  #wrapper {
    width: 80%;
  }
  #wrapper .toggle {
    display: block;
  }
  #wrapper nav {
    width: 100%;
    position: static;
  }
  #wrapper nav ul li {
    display: inline;
  }
  #wrapper #nav__menu-button {
    display: none;
  }
  #wrapper #content {
    width: 90%;
  }
  #wrapper #content h2 {
    top: 75%;
    right: 5%;
  }
  #wrapper #content .--align-right {
    position: relative;
    left: 11%;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-10by2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20.0%;
    flex: 0 0 20.0%;
    max-width: 20.0%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */