$penFont: rgb(1, 13, 39);
$borderRadius: .5em;
$grassWhite: rgb(231, 252, 243);
* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Rokkitt', serif;
    color: $penFont;
    font-size: 10px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $grassWhite;
}

img {
    max-width: 100%;
    margin: auto;
}

#wrapper {
    margin: auto;
    max-width: 192em;
    background-color: rgba(247, 247, 247, .25);
}

nav#top__navigation {
    position: fixed;
    max-width: 192em;
    top: -.5em;
    z-index: 1;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    background-color: transparent;
    img {
        height: 3em;
        padding-left: 1em;
        align-self: center;
        display: inline-block;
        line-height: 150%;
    }
    .top__nav--bg-green {
        background-color: rgb(28, 95, 54);
    }
    .toggle {
        display: none;
    }
    #nav__menu-button {
        display: flex-box;
        text-align: right;
        font-size: 2.3em;
        i {
            padding-right: .5em;
        }
    }
    #nav__menu {
        animation: example 500ms ease-in forwards;
    }
    div {
        line-height: 150%;
        color: $grassWhite;
    }
    ul {
        list-style-type: none;
        text-align: right;
        padding: 1em .2em .2em 5em;
        li {
            display: block;
            font-size: 1.7em;
            text-transform: uppercase;
            padding-top: .5em;
            padding-left: .5em;
            position: relative;
            a {
                padding: 0em .25em;
                letter-spacing: .15em;
            }
            &::before {
                content: '';
                display: flexbox;
                height: .2em;
                background-color: $grassWhite;
                position: absolute;
                top: 0;
                width: 0%;
                padding-left: 0em;
                transition: all ease-in-out 250ms;
            }
            &:hover::before {
                width: 92%;
            }
        }
    }
}

#content {
    padding-top: 6em;
    width: 100%;
    div {
        flex-direction: column-reverse;
        align-items: center;
        h2 {
            text-align: center;
            font-size: 3.5em;
            text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
            border-radius: $borderRadius;
        }
        p {
            padding: 1em;
            text-align: justify;
            font-size: 2.2em;
        }
        .content__list {
            ul {
                padding: 0 1em;
                text-align: unset;
                li {
                    margin: unset;
                    display: block;
                }
            }
        }
        
        ul {
            list-style: none inside;
            width: fit-content;
            margin: auto;
            li {
                font-size: 2.2em;
                padding: .2em;
                width: fit-content;
                margin: auto;
                text-align: center;
                span {
                    display: inline-block;
                    min-width: 4.5em;
                }
            }
        }
    }
    .--align-right,
    .--align-left {
        margin-bottom: .5em;
        border-radius: $borderRadius;
    }
}

footer {
    width: 100%;
    margin-top: .5em;
    hr {
        width: 95%;
        margin: auto;
        border-radius: 90%;
        border-top: .1em solid $penFont;
    }
    #footer__info {
        align-self: center;
        text-align: center;
        h4 {
            font-size: 2.5em;
        }
        p {
            padding: .5em 1em;
            font-size: 2.2em;
        }
        .footer__contact {
            span p {
                font-size: 2em;
                margin: auto;
                a {
                    color: $penFont;
                }
            }
        }
    }
    #footer__author {
        background-color: rgb(28, 95, 54);
        p {
            color: white;
            text-align: center;
        }
    }
}

@keyframes example {
    0% {
        right: -100%;
        border-radius: 0 0 .5em 0.5em;
    }
    100% {
        right: 0;
        background-color: rgb(28, 95, 54);
        border-radius: 0 0 1.5em 1.5em;
    }
}
@import "./flexbox";